.featured {
  background-color: rgb(255, 255, 255);
  height: 400px;
  .featured-title {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 23px;
    opacity: 73%;
    color: #373737;
  }
  .carousel-indicators {
    bottom: -100px !important;
    left: 0;
    border-radius: 50%;
    li {
      display: inline-block;
      background-color: none;
      background-color: #30a8db !important;
      width: 10px !important;
      height: 10px !important;
      border-radius: 50%;
    }
  }
}
