body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.carousel-indicators {
  bottom: -100px !important;
  left: 0;
  border-radius: 50%;
  li {
    display: inline-block;
    background-color: none;
    background-color: #30a8db !important;
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
  }
}
